:root {
  --pink: #fd5abc;
  --purple: #835afd;
  --light: #f8f8f8;
  --light-gray: #a8a8b3;
  --light-brown: #29292e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
